<% layout('layout/boilerplate') %> 
    <h1><%= showCampGround.title %> </h1>
    <img src="<%= showCampGround.image %>" class="img-fluid" alt="">
    <h3><%= showCampGround.location %> </h3>
    <p><%= showCampGround.description %> </p>
    <br>
    <form action="/editcampground/<%= showCampGround._id %>?_method=DELETE " method="post">
        <button>Delete</button>
    </form>
    <br>
    <a href="/editcampground/<%=showCampGround._id%>/edit">Edit CampGround</a>
