<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/css/starRating.css">

<!--$ To access the process.env.MAPBOX_TOKEN on external js file we intialize token to a variable -->
<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campground = <%-JSON.stringify(showCampGround)%>
</script>

<div class="row">
    <div class="col-6">
        <div class="card" style="width: 23rem;">
            <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% for(let i=0; i<showCampGround.images.length;i++) {%>
                    <div class="carousel-item <%= i===0?'active':'' %> ">
                        <img src="<%= showCampGround.images[i].url %>" class="d-block w-100" alt="...">
                    </div>
                    <% } %>
                </div>
                <% if (showCampGround.images.length > 1) { %>
                <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <% } %>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= showCampGround.title %></h5>
                <p class="card-text"><%= showCampGround.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= showCampGround.location %></li>
                <li class="list-group-item">$ <%= showCampGround.price %>/night</li>
                <li class="list-group-item">Posted By <%= showCampGround.author.username %></li>
            </ul>
            <% if(currentUser && showCampGround.author._id.equals(currentUser._id)) {%>
            <div class="card-body">
                <a href="/campground/editcampground/<%=showCampGround._id%>/edit"
                    class="card-link btn btn-info">Edit</a>
                <form action="/campground/editcampground/<%= showCampGround._id %>?_method=DELETE " method="post"
                    class="d-inline">
                    <button class="btn btn-danger ms-2">Delete</button>
                </form>
            </div>
            <% } %>
        </div>

        <h4 class="display-6 mt-4">Reviews</h4>
        <% for (let review of showCampGround.reviews) {%>
        <div class="card p-3 mb-3">
            <h5 class="card-title"><%=review.author.username%></h5>
            <p class="starability-result" data-rating=<%= review.rating%>>
                Rated: <%= review.rating%> stars
            </p>
            <p class="card-text"><%=review.body%></p>
            <% if(currentUser && currentUser.equals(review.author._id)){ %>
            <form action="/review/showcamground/<%= showCampGround._id %>/review/<%= review._id %>?_method=DELETE "
                method="post">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>
        </div>
        <% } %>

    </div>

    <div class="col-6">
        <!--$ MAP -->
        <div id='map'></div>
        <% if (currentUser) { %>
        <div class="card p-4 my-5" style="width: 25rem;">
            <h4 class="display-6">Leave a Review</h2>
                <form action="/review/showcampground/<%=showCampGround._id%>/review" method="post" novalidate
                    class="needs-validation">
                    <label for="rating" class="form-label">
                        <legend> Rate from 1 to 5</legend>
                    </label>
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>

                    <label for="body" class="form-label">Feedback</label>
                    <textarea name="body" class="form-control " id="body" cols="6" rows="2" required></textarea>
                    <div class="invalid-feedback ">Please type a comment.</div>
                    <button type="submit" class="btn btn-success mt-3">Submit</button>
                </form>
        </div>
        <% } %>

        <!-- <h4 class="display-6 mt-4">Reviews</h4>
        <% for (let review of showCampGround.reviews) {%>
        <div class="card p-3 mb-3">
            <h5 class="card-title"><%=review.author.username%></h5>
            <p class="starability-result" data-rating=<%= review.rating%>>
                Rated: <%= review.rating%> stars
            </p>
            <p class="card-text"><%=review.body%></p>
            <% if(currentUser && currentUser.equals(review.author._id)){ %>
            <form action="/review/showcamground/<%= showCampGround._id %>/review/<%= review._id %>?_method=DELETE "
                method="post">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>
        </div>
        <% } %> -->
    </div>
</div>


<script src="/js/map.js"></script>