<% layout('layout/boilerplate') %>

<div class="row">
    <div class="col-6 offset-5">
        <div class="card" style="width: 20rem;">
            <img src="<%= showCampGround.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= showCampGround.title %></h5>
                <p class="card-text"><%= showCampGround.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= showCampGround.location %></li>
                <li class="list-group-item">$ <%= showCampGround.price %>/night</li>
            </ul>
            <div class="card-body">
                <a href="/editcampground/<%=showCampGround._id%>/edit" class="card-link btn btn-info">Edit</a>
                <form action="/editcampground/<%= showCampGround._id %>?_method=DELETE " method="post" class="d-inline">
                    <button class="btn btn-danger ms-2">Delete</button>
                </form>
            </div>
        </div>

        <div class="card">
            <h2 class="display-4">Leave a Review</h2>
            <form action="/showcampground/<%=showCampGround._id%>/review " method="post">
                <label for="rating" class="form-label">Rate from 1 to 5</label>
                <input type="range" class="form-range" name="rating" min="0" max="5" step="1" id="rating">
    
                <label for="body">Feedback</label>
                <textarea name="body" id="body" cols="3" rows="5"></textarea>
            </form>

        </div>
    </div>
</div>